{% set title = 'Join Us' %}
{% extends "layout.njk" %}

{% block content %}

  <!-- navbar -->
  {{nav.active('joinus')}}
  <!-- end navbar -->
  
  <!-- main container -->
  <div class="container-fluid">
    
    <!-- header -->
    <h1 class="text-center page-header">Join Us</h1>
    <!-- end header -->

    <!-- content -->
    <div class="col-md-6 col-md-offset-3">

      <p>All high school age students students in the Ottawa area are eligible to join Spacesim.
      Work sessions are held in room W027 on the first floor of 440 Albert Street (the Ottawa
      Technical High School Building) from 3:30 pm - 10 pm. Members are not obliged to stay for the
      entirety of a work session, and are free to come and go as they please. If you have any
      questions, please email us at <a href="mailto:ocespacesim@gmail.com">ocespacesim@gmail.com</a>.</p>

    </div>
    <!-- end content -->
    
  </div>
  <!-- end main container -->

{% endblock %}
